* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Inter";
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #888;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border-radius: 20px;
}
